<!-- Importing Scripts -->

<!-- jQuery CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- If CDN fails than use local jQuery -->
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery-3.0.0.min.js"><\/script>')</script>

<!-- Owl Carousel -->
<script src="{{ site.baseurl }}/js/carousel.min.js" charset="utf-8"></script>

<!-- Parallaxing & SmoothScroll -->
<!-- <script src="{{ site.baseurl }}/js/smoothscroll.js" charset="utf-8"></script> -->
<script src="{{ site.baseurl }}/js/scrollax.min.js" charset="utf-8"></script>

<!-- RSS reader -->
<script src="{{ site.baseurl }}/js/yrss.js" charset="utf-8"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/js/main.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#eaf7f7",
                "text": "#5c7291"
            },
            "button": {
                "background": "#0199b1"
            }
        },
        "content": {
            "message": "Questo sito utilizza i cookie.",
            "dismiss": "OK",
            "link": "Leggi di più.",
            "href": "http://fablabtorino.org/privacy/"
        }
    })});
</script>
