---
layout: page
---

<!-- Project -->
<div class="post-full">
  <article class="blog-article blog-single-page clearfix">

    <!-- Article Header -->
    <header class="article-header">
      <div class="article-title">
        <h3 class="title">{{ page.title }}</h3>
        <h4 class="category">{{ page.categories | first }}</h4>
      </div>
    </header>

    <!-- Article Content -->
    <div class="article-content">
      {{ page.content }}
    </div>

    <!-- Article Tool Boxes -->
    <div class="article-boxes">
      <!-- Share Article Links Box -->
      <div class="share-article box clearfix">
        <span class="title">Share:</span>
        <div class="social-icons box-content">
          <ul class="icons global-text-color-icons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank"><i class="fi flaticon-facebook"></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank"><i class="fi flaticon-twitter"></i></a></li>
            <li><a href="https://plus.google.com/share?url=" target="_blank"><i class="fi flaticon-google-plus"></i></a></li>
            <li><a href="http://pinterest.com/pin/create/button/?url=&description=" target="_blank"><i class="fi flaticon-pinterest"></i></a></li>
          </ul>
        </div>
      </div>

    </div>

  </article>
  {% if site.comments-enable %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.comments-identification }}';
        var disqus_identifier = "{{ page.url }}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>
